# This is the config file for pusher
# change these values according to your pusher settings
# rename it to remove .example
# http://pusherapp.com/docs/quickstart
# http://github.com/newbamboo/pusher-gem
Pusher.app_id = 'your-pusher-app-id'
Pusher.key = 'your-pusher-key'
Pusher.secret = 'your-pusher-secret'
Pusher.logger = Rails.logger

